$saumon: #ff4757;
$sable: #2f3542;
$twinkye: #ced6e0;
$danger: rgb(149, 175, 192);


h1{
    color: $sable;
}

.btn{
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;

    &:hover{
        background: $twinkye;
    }

    &-danger{
        background: $danger;
        color: $sable;
        padding: 20px;
        border-radius: 10px;
        font-size: 25px;
    }
}
