$saumon: #ff4757;
$sable: #eccc68;
$twinkye: #ced6e0;
$danger: #5352ed;


h1{
    color: $sable;
}

.btn{
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;

    &:hover{
        background: $twinkye;
    }

    &-danger{
        background: $danger;
        color: $sable;
        padding: 20px;
        border-radius: 10px;
        font-size: 25px;
    }
}
