$warning: #ff4757;
$dark: #2f3542;
$light: #ced6e0;
$danger: rgb(149, 175, 192);
$success: #27ae60;


h1{
    color: $dark;
}

.btn{
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;

    &:hover{
        background: $danger;
    }

    &-danger{
        background: $danger;
        padding: 20px;
        border-radius: 10px;
        font-size: 25px;
        
        &:hover{
            background: $warning;
            color: $light;
        }
    }
}
